.lista-alunos {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center; 
  width: 100%;
  margin-top: 24px;
}

.lista-alunos .aluno-card {
  width: 90%;
  max-width: 700px; 
}
